API_BASE_URL=http://10.0.2.2:8000/api/v1
ENABLE_DEMO_MODE=true
ENABLE_FIREBASE=false
BLE_SERVICE_UUID=6E400001-B5A3-F393-E0A9-E50E24DCCA9E
BLE_RESULT_CHARACTERISTIC_UUID=6E400006-B5A3-F393-E0A9-E50E24DCCA9E
APP_ENV=development
